:root {
  --orange: #ff6600;
  --gray: #ff00ee;
  --eggshell: #f6f6ef;
  --mainFont: Verdana, Geneva, sans-serif;
}
.mainContainer {
  background-color: var(--eggshell);
}
body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
  color: #828282;

  margin-left: 32px;
  margin-right: 32px;
}
ul {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
  color: #828282;
}
.horizontalLine {
  border-top: 2px solid var(--orange);
  margin: 0px;
  background-color: var(--eggshell);
}

input {
  font-family: monospace;
  font-size: 10pt;
}
input[type=\"submit\"] {
  font-family: Verdana, Geneva, sans-serif;
}

.ask-title {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 4px;
}

a:link {
  color: #000000;
  text-decoration: none;
}
a:visited {
  color: #828282;
  text-decoration: none;
}

.comment a:link,
.comment a:visited {
  text-decoration: underline;
}
.commentBody {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
}
.tableRow1 {
  display: flex;
  flex-direction: column;
  font-size: smaller;
  /* justify-content: space-between; */
}
.tableRow2 {
  margin-left: 6px;
  color: #000000 !important;
}
.commHead {
  display: flex;
  margin-left: 4px;
}
.commCon > * {
  margin-right: 6px;
  margin-left: 6px;
}
/* mobile device */
@media only screen and (min-width: 300px) and (max-width: 750px) {
  body {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .title {
    font-size: 11pt;
    line-height: 14pt;
  }
}

/*  Story Element*/

.story_element {
  display: grid;
  grid-template-areas:
    "num_arrow title title title "
    "nix_space lower lower lower";
  justify-content: left;
}

.story_element > .num_arrow {
  grid-area: num_arrow;
  width: 40px;
  max-width: 40px;
}

.story_element > .nix_space {
  grid-area: nix_space;
  width: 40px;
  max-width: 40px;
}

.story_element > .title {
  grid-area: title;
}

.story_element > .lower {
  grid-area: lower;
  font-size: x-small;
}
.votearrow {
  width: 10px;
  height: 10px;
  border: 0px;
  margin: 3px 2px 6px;
  background-size: 10px;
  background: url(https://news.ycombinator.com/triangle.svg),
    linear-gradient(transparent, transparent) no-repeat;
  background-repeat: no-repeat;
  background-size: 13px;
}

.footerSpace {
  display: flex;
  flex-direction: column;
  background-color: var(--eggshell);
  margin: 0;
  justify-content: center;
  align-content: center;
}
#root {
  background-color: var(--eggshell);
}
.footerContent {
  justify-self: center;
  align-self: center;
}
.footerSearch {
  justify-self: center;
  align-self: center;
}
